/*---           Colors          ---*/

$white: #FFF;
$black: #02082b;

$gray: #e9e9f2;
$light-blue-gray: #d4d4ee;
$darker-gray: #a5a5a5;

$blue: #1f8cfe;
$dark-purple-blue: #384168;
$darker-blue: #13193b;  
$dark-blue: #01072e;

/*---           Sizes           ---*/

$lg-headlines-block-height: 490px;