@import '~assets/sass/core/variables.scss';

.categories-filter {
  margin-bottom: 30px;
  background: $white;

  a {
    position: relative;
    display: inline-block;
    margin: 0 20px;
    height: 80px;
    line-height: 80px;
    color: #6e7785;
    font-size: 12px;
    text-transform: uppercase;
    transition: all .3s;

    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $blue;
      transition: all .3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .categories-filter {
    height: 80px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
