@import '~assets/sass/core/variables.scss';

.categories-filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  background: $white;

  a {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 20px;
    min-width: 40px;
    line-height: 80px;
    color: #6e7785;
    font-size: 12px;
    text-transform: uppercase;
    transition: all .3s;

    i {
      font-size: 24px;
      line-height: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background: $blue;
      transition: all .3s;
    }

    &:hover::before {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .categories-filter {
    height: 80px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
