@import '~/assets/sass/core/variables.scss';

.top-nav, .lang-nav {
  height: 80px;

  a {
    display: inline-block;
    padding: 0px 20px;
    height: 80px;
    line-height: 80px;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: $dark-purple-blue;
    text-transform: uppercase;
    transition: 0.3s all;

    &:hover, &.current {
      color: $white;
    }

    &:first-child {
      padding-left: 0px;
    }
  }

  .sub-menu {
    display: none;
  }
}

.lang-nav {
  display: none;

  a {
    padding: 0 3px;
    font-weight: normal;

    &.current {
      font-weight: bold;
      color: $blue;
    }
  }
}

.footer-nav {
  a {
    position: relative;
    display: block;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: $darker-gray;
    clear: both;
    transition: 0.3s all;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0px;
      width: 0%;
      height: 0px;
      border-bottom: 2px solid $blue;
      transition: 0.3s all;
    }

    &:hover {
      color: $white;

      &:after {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-nav {
    display: none;
  }
}
