@import '~/assets/sass/core/variables.scss';

section {
  .head {
    text-transform: uppercase;

    h2 {
      font-size: 18px;
      font-style: italic;
      color: $white;
    }

    .read-more {
      font-weight: bold;
      font-style: italic;
      color: $blue;
      cursor: pointer;
    }
  }

  &.light {
    .head {
      h2 {
        color: $black;
      }
    }
  }
}
