@import '~/assets/sass/core/variables.scss';

article.single {
  header {
    position: relative;
    height: 430px;
    color: $white;
    background-color: $dark-blue;

    .container {
      margin-bottom: 50px;
      z-index: 99;
    }

    h1 {
      margin-bottom: 0px;
      line-height: 64px;
      font-size: 64px;
      font-style: italic;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .sub-title {
      margin-bottom: 0px;
      font-size: 32px;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    .category {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      color: $blue;

      i {
        margin-right: 5px;
        font-size: 22px;
        color: $white;
        vertical-align: middle;
      }
    }

    .date {
      font-weight: bold;
      text-transform: uppercase;
      color: $dark-purple-blue;
    }

    .image-head {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: auto;
      filter: grayscale(100%);
      opacity: 0.15;
      z-index: 0;
      background-position: top center;
      background-size: cover;
    }
  }

  .action-bar {
    height: 80px;
    border-top: 1px solid darken($dark-purple-blue, 10);
    border-bottom: 3px solid darken($dark-purple-blue, 10);
    background: $dark-blue;

    i {
      margin-right: 40px;
      font-size: 24px;
      color: $dark-purple-blue;
    }

    a {
      display: inline-block;

      i {
        color: $blue;
      }
    }

    .lang-menu {
      a {
        color: $dark-purple-blue;
        font-style: italic;
        text-transform: uppercase;

        &.current {
          color: $blue;
        }
      }
    }
  }

  .body {
    padding-top: ($paragraph-space * 2);
    font-size: $paragraph-size;

    h2, h3, p {
      margin-bottom: $paragraph-space;
    }

    h2, h3 {
      font-style: italic;
      text-transform: uppercase;
    }

    h2 {
      margin-left: -(100% / 12);
      padding-left: (100% / 12);
      position: relative;
      line-height: $h2-size;
      font-size: $h2-size;
      overflow: hidden;

      &:before, &:after {
        content: '';
        position: absolute;
      }

      &:before {
        left: -30px;
        bottom: 4px;
        width: (100% / 12);
        height: 0px;
        border-bottom: 3px solid $blue;
      }

      &:after {
        display: inline-block;
        margin-left: 30px;
        margin-right:-100%;
        bottom: 4px;
        width: 100%;
        height: 0px;
        border-bottom: 1px solid $darker-gray;
      }
    }

    h3 {
      line-height: $h3-size;
      font-size: $h3-size;
      color: $blue;
    }

    .headline {
      font-size: $headline-size;
      font-weight: bold;
    }

    p {
      line-height: $line-height;
    }

    figure {
      margin-bottom: $paragraph-space;

      &.left {
        float: left;
        margin-right: 30px;
        margin-bottom: 0px;
      }

      &.right {
        float: right;
        margin-left: 30px;
      }

      &.center {
        display: table;
        margin-left: auto;
        margin-right: auto;
      }

      &.fluid {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }

      &.wild {
        margin-left: -(100% / 12);
        width: calc(100% + ((100% / 12) * 2));

        img {
          width: 100%;
          height: auto;
        }
      }

      img {
        margin-bottom: 0px;
      }
    }

    img {
      margin-bottom: $paragraph-space;
    }

    ul, ol {
      margin-bottom: $paragraph-space;

      li {
        line-height: $line-height;
      }
    }

    blockquote {
      padding: 30px;
      border-top: 2px solid $blue;
      background: $white;

      p {
        margin-bottom: 0px;
      }

      .blockquote-footer {
        margin-top: 5px;
        font-weight: bold;
        font-style: italic;
        text-align: right;
        text-transform: uppercase
      }
    }
  }
}
