@import '~assets/sass/core/variables.scss';

.page {
  header {
    position: relative;
    height: 330px;
    color: $white;
    background-color: $dark-blue;

    .container {
      margin-bottom: 50px;
      z-index: 99;
    }

    h1 {
      margin-bottom: 0px;
      line-height: 48px;
      font-size: 64px;
      font-style: italic;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    .sub-title {
      margin-bottom: 0px;
      font-size: 32px;
      font-weight: bold;
      font-style: italic;
      letter-spacing: 2px;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .image-head {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      height: auto;
      filter: grayscale(100%);
      opacity: 0.15;
      z-index: 0;
      background-position: top center;
      background-size: cover;
    }
  }

  > .body {
    padding-top: ($paragraph-space * 2);
    font-size: $paragraph-size;
  }
}

@media screen and (max-width: 768px) {

  .page {
    header {
      padding-top: 100px;
      height: auto;

      h1 {
        line-height: 1em;
        font-size: 32px;
      }

      .sub-title {
        margin-top: 10px;
        line-height: 1em;
        font-size: 24px;
      }
    }

    .container {
      &.body {
        padding-top: 40px;
      }
    }

  }

}
