/*---           Colors          ---*/

$white: #FFF;
$black: #02082b;

$gray: #e9e9f2;
$light-blue-gray: #d4d4ee;
$darker-gray: #76767e;
$dark-gray: #191a1f;

$blue: hsl(215, 90%, 45%);
$dark-purple-blue: hsl(228, 28%, 55%);
$darker-blue: #13193b;
$dark-blue: #01072e;

/*---           Typography           ---*/

$h1-space: 30px;

$h2-space: 36px;
$h2-size: 36px;

$h3-space: 24px;
$h3-size: 24px;

$headline-size: 21px;

$paragraph-size: 17px;
$line-height: 27px;
$paragraph-space: 40px;

/*---           Sizes           ---*/

$lg-headlines-block-height: 490px;
$sm-headlines-block-height: 240px;

$games: 'fortnite', 'lol', 'rl', 'csgo', 'fifa', 'hs', 'ow', 'roe', 'smash', 'staff';
